.overall {
    width: 95vw;
    height: 90vh;
    border: 0.3vh solid black; /* combined border width, style, and color */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
  }
  
  .container {
      width: 95vw;
      height: 90vh;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      color: --primary-color;
    }
    
    .left {
      width: 40vw;
      height: 90vh;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  
    .leftSpacing{
      width: 7vw;
    }
    
  .leftContent{
      width: 33vw;
      align-items: center;
      justify-content: right;
  }
  
    .title {
      display: flex;
      flex-direction: row;
      font-family: "Garamound", Times, serif;
      font-size: 6vh; 
      font-weight: 900;
      height: 6vh;
    }
  
    .period {
      color: hsl(45, 100%, 50%);
    }
    
    .description {
      font-size: 2.3vh;
      color: rgb(100, 100, 100);
      font-weight: 600;
    }
  
    .right {
      width: 60vw;
      height: 70vh;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-left: 7vw; /* Adjust this value if needed */
      color: rgb(100, 100, 100);
  }
  
  .rightSpacing {
      width: 0vw;
  }
  
  .rightContent {
      width: 40vw;
      display: flex;
      flex-direction: column;
      justify-content: left; /*flex-start*/
      align-items: center; /* Center the content horizontally */
  }
  
  .image {
    max-width: 30vw;
    max-height: 30vh;
    border-radius: 5%;
}

  .longDescription {
      font-size: 2.5vh;
      font-weight: 550;
      margin-bottom: 0vh;
  }

  .contacts{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 20vw;
  }
    
    .navChannel {
      position: absolute;
      left: 5vw;
      bottom: 7vh;
      display: flex;
      flex-direction: column;
      flex-direction: flex-end;
      align-items: center;
  }
  
    .navButton {
      width: 2vh;
      height: 2vh;
      border-radius: 50%;
      border: 0.3vh solid hsl(45, 100%, 50%);
      outline: 0.3vh solid hsl(45, 100%, 50%);
      outline-offset: -0.4vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .navLine {
        width: 0.2vh;
        height: 2vh;
        background-color: gray;
    }
  
  
    .currentButton {
      display: grid;
      place-items: center;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
  }
  
  .currentButtonInner {
      grid-area: 1 / 1;
      z-index: 1;
      width: 0.7vh;
      height: 0.7vh;
      border-radius: 50%;
      background-color: black;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
  .currentButtonOuter {
    grid-area: 1 / 1;
    z-index: 2;
  }
  
  
