.container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
    background-color: rgb(210, 131, 27);
  }
  
.image {
    width: 100vw;
    height: 100vh;
}