.container {
    width: 50vw;
    height: 50vh;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: aqua;
}

.left {

}



.right {
    justify-content: center;
    align-items: center;
}

/*.title {

}

.description {

}

.button {
    
}
*/