.overall {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
    width: 95vw;
    height: 90vh;
  
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: --primary-color;
  }
  
  .left {
    width: 45vw;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .leftSpacing{
    width: 5vw;
  }
  
.leftContent{
    width: 40vw;
    align-items: center;
    justify-content: right;
}

  .title {
    display: flex;
    flex-direction: row;
    font-family: "Garamound", Times, serif;
    font-size: 6vw; 
    font-weight: 900;
  }
  
  .period {
    color: #02f60e;
  }
  
  .description {
    font-size: 1.5vw;
  }
  
  .button {
    font-size: 1.5vw;
    transform: translateY(-2vh);
  }
  
  .right {
    width: 50vw;
    justify-content: center;
    align-items: center;
  }
  
  .navChannel {
    position: absolute;
    left: 6vw;
    bottom: 7vh;
    display: flex;
    flex-direction: column;
    flex-direction: flex-end;
    align-items: center;
}

  .navButton {
    width: 2vh;
    height: 2vh;
    border-radius: 50%;
    border: 0.25vh solid red; 
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navLine {
      width: 0.2vh;
      height: 3vh;
      background-color: gray;
  }


  .currentButton {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.currentButtonInner {
    grid-area: 1 / 1;
    z-index: 1;
    width: 1vh;
    height: 1vh;
    border-radius: 50%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.currentButtonOuter {
  grid-area: 1 / 1;
  z-index: 2;
}



  